@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');

.App {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block
}

/* .App */



.move_to_front {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.letter_button {
  font-family: 'Tiro Devanagari Sanskrit', serif;
  font-size: 50px;
  background-color: inherit;
  border: none;
  margin: 10px;
}